#posts { list-style: none; }

#posts li {
  border-bottom: 3px solid #eee;
  max-width: 550px;
}

#posts li a {
  font-family: 'freight-sans-pro';
  text-decoration: none;
  position: relative;
  font-size: 17px;
  line-height: 26px;
  font-weight: 900;
  margin: 0;
  padding: 0;
  display: block;
  text-align: left;
  padding-left: 10px;
  text-transform: uppercase;
  z-index: 0;
  color: #02779E;
}
